@import url("pygment.css");

* { margin: 0; padding: 0; }

/* *** General Styles *** */

@font-face {
    font-family: 'YuweiYinbiRegular';
    src: url('../fonts/yuwei_yinbi_regular.ttf');
}

@font-face {
    font-family: 'MonofurForPowerLine';
    src: url('../fonts/monofur_for_powerline.ttf');
}

body  {
    background: url(../images/background_grey.jpg);
	color: #293331;
	font-family: "YuweiYinbiRegular";
	text-align: center;
}

a {
	color: #293331;
}

a:hover {
	background: #a7aa9e;
}

#header a,
#topMenu a,
.blogItem h2 a,
.blogMeta a {
	text-decoration: none;
}

p {
	line-height: 1.3em;
	padding: 15px 0 15px 0;
}

h1,
h2,
h3 {
	font-weight: normal;
}

blockquote {
	background: url(../images/body.gif) top left repeat-y;
	font-size: 14px;
	font-style: italic;
	padding: 5px 0 5px 30px;
}

ul,
ol {
	margin-left: 20px;
	line-height: 1.6em;
}

/* *** Layout *** */

#container {
	/*background: url(../images/spill.gif) no-repeat top right;*/
	margin: 0 auto;
	text-align: left;
	width: 780px;
}

#header {
	/*background: url(../images/header.gif) no-repeat;*/
    width: 780px;
	height: 109px;
	padding: 0 10px 0 20px;
}

#topMenu {
	background: url(../images/menubar.gif) no-repeat;
	height: 48px;
}

#sidebar {
	float: right;
	padding: 20px 30px 10px 0;
	text-align: right;
	width: 150px;
}

#mainContent {
	background: url(../images/body.gif) repeat-y;
	padding: 20px 250px 10px 40px;
}

#footer {
	background: url(../images/bottom.gif) no-repeat;
	font-size: 14px;
	height: 70px;
	padding: 10px 10px 0 20px;
}

/* *** Header Styles *** */

#header h1 {
	font-size: 48px;
	font-weight: normal;
	padding: 20px 0 0 20px;
}

#header h2 {
	font-size: 18px;
	font-weight: normal;
	padding: 0 0 0 70px;
}

#header a:hover {
	background: none;
}

/* *** Top Menu Styles *** */

#topMenu ul {
	font-size: 24px;
	line-height: 1em;
	list-style: none;
	padding: 14px 30px 0 0;
	text-align: center;
}

#topMenu li {
	display: inline;
}

#topMenu a:hover {
	background: url(../images/hr.gif) center center no-repeat;
}

/* *** Blog Styles *** */

.blogItem {
	padding-bottom: 20px;
    width: 510px;
}

.blogItem h2,
.blogItem h3 {
	font-weight: normal;
}

.blogItem h2 a:hover,
.blogItem h3 a:hover {
	background: none;
	text-decoration: underline;
}

.blogItem h2 {
	font-size: 24px;
}

.blogItem h3 {
	background: url(../images/hr.gif) bottom left no-repeat;
	font-size: 18px;
	padding-bottom: 6px;
}

.blogItem h3.blogMeta {
	background-position: top left;
	padding: 6px 0 0 0;
	text-align: right;
}

.blogItem dt {
    font-size: 18px;
}
.blogItem dd {
    font-size: 20px;
}

.blogItem .separator {
    height: 20px;
}

.blogContent {
    font-size: 18px;
    padding-top: 30px;
}

/* *** Sidebar Styles *** */

#sidebar h3 {
	font-size: 24px;
	font-weight: normal;
}

#sidebar ul {
	line-height: 1.8em;
	list-style: none;
	padding-bottom: 20px;
}

#sidebar ul a {
	text-decoration: none;
}

/* *** Comments Styles *** */

#comments {
	margin: 20px 0 0 20px;
}

#comments li {
	margin-bottom: 10px;
}

.commentSep {
	background: url(../images/hr.gif) bottom left no-repeat;
}

/* *** Footer Styles *** */

#footer p {
	padding: 5px 10px 0 0;
	text-align: right;
}

.floatR {
	float: right;
	margin-left: 8px;
}

.floatL {
	float: left;
	margin-right: 8px;
}

.clearfloat {
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.highlight {
    background-color: rgba(218, 219, 202, 0.4);
    /*background-color: rgba(204, 209, 157, 0.3);*/
    word-wrap: break-word;
    /*width: 600px;*/
    padding: 10px 5px 10px 5px;
    font-size: 13px;
    border-radius: 15px;
}

.highlight pre {
    font-family: "MonofurForPowerLine";
}
