{% extends "base.html" %}
{% block content %}


<div class="blogItem">
    <header><h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a><h2></header>

    <!-- <div class="img_separator"></div> -->

  <div class="blogContent">
      {{ article.content }}
  </div>
  {% include 'twitter.html' %}

      <h3 class="blogMeta">
          <div class='blogDate'> {{ article.locale_date }} </div>
          <!-- Par <a href="#">{{ article.author }}</a>,  -->
          分类 : <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></h3>
    <!-- <h3 class="blogMeta">Tags : {% for tag in article.tags %} -->
<!-- <span><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> / </span> -->
<!-- {% endfor %}</h3> -->

    </div><!-- end #blogItem -->
{% if DISQUS_SITENAME %}
<div class="blogItem">

      <h2>Commentaires</h2>
<div id="disqus_thread"></div>
    <script type="text/javascript">
       var disqus_identifier = "{{ article.url }}";
       (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
  </div>
                                        {% endif %}

                <!-- end #content -->
{% endblock content %}
