<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />

    <title>{% block title %}{{ SITENAME_ABBR }}{%endblock%}</title>
    <link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" /> {% if FEED_RSS %}
    <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" /> {% endif %}
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!--[if IE]>
  <style type="text/css">
  .twoColFixRtHdr #mainContent { zoom: 1; }
  </style>
  <![endif]-->

    <!-- mathjax config similar to math.stackexchange -->
    <script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			jax: ["input/TeX", "output/HTML-CSS"],
			tex2jax: {
				inlineMath: [ ['$', '$'] ],
				displayMath: [ ['$$', '$$']],
				processEscapes: true,
				skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
			},
			messageStyle: "none",
			"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
		});
		</script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<body>

    <div id="container">

        <div id="header">
            <h1>
                <a href="{{ SITEURL }}/index.html">{{ SITENAME }}</h1>
            {% if SITESUBTITLE %}
            <h2>{{ SITESUBTITLE }}</h2>{% endif %}

        </div>
        <!-- end #header -->


        <div id="topMenu">
          {% for entry in foldercat.entries recursive %}
            {% if entry.url is not none %}
              <div class='foldercat_leaf'>
                <a href="{{ SITEURL }}/{{ entry.url }}">
                  {{ entry.name }} ({{entry.count}})
                </a>
              </div>
            {% else %}
              {% if loop.index0 == 0 %}
                <div class='foldercat_leading'>
                  {{ entry.name }}
                </div>
              {% else %}
                <div class='foldercat'>
                  {{ entry.name }}
                </div>
              {% endif %}
            {% endif %}

            {% if not entry.is_leaf %}
              {{ loop(entry.entries) }}
            {% endif %}
          {% endfor %}

            <!--
            <ul>
                <li>
                    <a href="{{ SITEURL }}/index.html">日志</a>
                </li>
                {% for page in PAGES %}
                <li>
                    <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
                </li>
                {% endfor %}
                <li>
                    <a href="{{ SITEURL }}/archives.html">存档</a>
                </li>
            </ul>
            -->
        </div>
        <!-- end #topMenu -->

        <div id="sepLine"></div>

        <div id="mainContent">

            {% block content %} {% endblock %}

        </div>
        <!-- end #mainContent -->

        <div class="clearfloat"></div>

        <div id="footer" class="footer">
            <div class="footerAuthorName">by jay7n.li</div>
            <div class="footerDeclare">
              <p>该站点使用
                  <a href="http://alexis.notmyidea.org/pelican/">Pelican</a>生成静态页面
              </p>
              <p>主题修改自
                  <a href="https://github.com/getpelican/pelican-themes/tree/master/waterspill">Waterspill</a>
              </p>
            </div>
        </div>
        <!-- end #footer -->

    </div>
    <!-- end #container -->
            <div id="sidebar">
            <h3>分类</h3>
            <ul>
                <!-- {% for cat, null in categories %}
         <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
    {% endfor %} -->

                {% for entry in foldercat.entries recursive %}
                <div class='foldercat'>
                    {% if entry.url is not none %}
                    <a href="{{ SITEURL }}/{{ entry.url }}">
                        {{ entry.name }} ({{entry.count}})
                    </a>
                    {% else %} {{ entry.name }}: {% endif %} {% if not entry.is_leaf %} {{ loop(entry.entries) }} {% endif %}
                </div>
                {% endfor %}
            </ul>
            {% if LINKS %}
            <li>
                <h3>Blogroll</h3>
                <ul>
                    {% for name, link in LINKS %}
                    <li>
                        <a href="{{ link }}">{{ name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %} {% if SOCIAL %}
            <li>
                <h3>Social</h3>
                <ul>
                    <li>
                        <a href="{{ SITEURL }}/{{ FEED }}" rel="alternate">Flux Atom</a>
                    </li>
                    {% if FEED_RSS %}
                    <li>
                        <a href="{{ SITEURL }}/{{ FEED_RSS }}" rel="alternate">Flux Rss</a>
                    </li>
                    {% endif %} {% for name, link in SOCIAL %}
                    <li>
                        <a href="{{ link }}">{{ name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <!-- /.social -->
            {% endif %}
            <!-- <li>
        <h3>Tags</h3>
        <ul>
        {% for tag, articles in tags %}
                <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
</li> -->


        </div>
        <!-- end #sidebar -->



    {% include 'analytics.html' %}

    <script>
        var sideBar = document.getElementById('sidebar');
        var sideBarStatus = 'off';
        sideBar.addEventListener('click', function () {
            if (sideBarStatus == 'off') {
                sideBar.className = 'sidebar-slide-on';
                sideBarStatus = 'on';
            } else {
                sideBar.className = 'sidebar-slide-off';
                sideBarStatus = 'off';
            }
        })
    </script>
</body>

</html>